.form-group {
  margin-bottom: 30px;
}
.form-group .required-field {
  color: #da3f45;
}
.form-group .show-field-error {
  border: 1px solid red;
}
.form-group .form-control {
  box-shadow: none;
  border: 1px solid #e2e2e2;
  color: #333;
}
.form-group .react-tel-input .flag-dropdown {
  border: 0;
  border-radius: 0;
  height: 49px !important;
}
.form-group .react-tel-input .flag-dropdown .selected-flag {
  height: 48px !important;
}
.form-group .react-tel-input input {
  border: 1px solid #e2e2e2 !important;
  background: none !important;
  width: 100% !important;
  padding: 14px 20px 14px 75px !important;
  border-radius: 4px !important;
  color: #333 !important;
  font-size: 14px !important;
  height: auto !important;
}

.input-error-display {
  position: absolute;
  top: 61px;
  left: 4px;
  color: #ff0000;
  font-size: 14px;

}
.form-group{
  position: relative
}

.select-bar{
  position: relative;
  width: 50%;
  height: 50%;
background-color: width !important;
border-radius: 5px;
left: 25%;
padding: 30px 10px;
box-shadow:  10px 10px  rgba(0, 0, 0, 0.16);
}

.numbers{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  padding-top: 15px;
}

.description{
  margin-top:10px;
}

.begin-button{
  width: 170px;
  height: 60px;
  margin-top: 50px;
}

.btn.btn-primary.btn-lg {
  background-color: rgba(244, 49, 167, var(--tw-bg-opacity)) !important;
}